entrypoint = "main.py"
modules = ["python-3.12"]
hidden = [
  "venv",
  "setup.py",
  ".config",
  "requirements_dev.txt",
  "**/__pycache__",
  "**/.mypy_cache",
  "**/*.pyc",
  "tests",
  ".gitignore",
  ".pre-commit-config.yaml",
  "setup.cfg",
  "code/__init__.py",
  "__init__.py",
  "team_winner.py",
  "init_replit.sh",
  "images",
  "hash_game_mechanics.py",
  "poetry.lock",
  "pyproject.toml",
]

[nix]
channel = "stable-24_05"

[layout]
default = "codeEditorConsole"


[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[workflows]
runButton = "Run Python"

[[workflows.workflow]]
name = "Run Python"
author = 17038207
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
